<mat-card>
    <mat-card-content>
        <form [formGroup]="textForm">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div>{{textForm.get('text').value}}</div>
                    </mat-expansion-panel-header>
                    <mat-form-field>
                        <label>Text</label>
                        <input matInput formControlName="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <label>x</label>
                        <input type="number" matInput formControlName="x">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <label>y</label>
                        <input type="number" matInput formControlName="y">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <label>Font</label>
                        <input matInput formControlName="font">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <label>Font fill color</label>
                        <input type="color" matInput formControlName="fontFill">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <label>Font border color</label>
                        <input type="color" matInput formControlName="fontStroke">
                    </mat-form-field>
                    <p><button mat-raised-button color="primary" (click)="deleteText()">Delete style</button></p>
                </mat-expansion-panel>
            </mat-accordion>
        </form>
    </mat-card-content>
</mat-card>