<h2 mat-dialog-title>Select file</h2>
<mat-dialog-content>
  <mat-selection-list #maps [multiple]="false">
    <mat-list-option class="menuListItem" *ngFor="let map of mapList" [mat-dialog-close]="map">
      {{map.name}}
    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>