<button mat-button [matMenuTriggerFor]="fileMenu">File</button>
<mat-menu #fileMenu="matMenu">
    <button mat-menu-item (click)="openFileDialog()" color="warn">
        Load file...
    </button>
    <button mat-menu-item [disabled]="!canSave()" (click)="save()">Save file...</button>
    <input #fileSelectInputDialog type="file" style="display:none" accept=".svg"
        (change)="handleFileUpload($any($event).target.files)" />
</mat-menu>