<mat-card class="centerCard">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let style of styles">
            <app-style-create [style]="style" [editableName]="false"></app-style-create>
        </div>
    </mat-card-content>
    <div *ngIf="newStyle">Unsaved style</div>
    <div *ngIf="newStyle">
        <app-style-create [style]="newStyle" [editableName]="true"></app-style-create>
    </div>
    <p><button *ngIf="!newStyle" mat-raised-button color="primary" (click)="onAddNewStyle()">Add new style</button></p>
    <p><button *ngIf="newStyle" mat-raised-button color="primary" (click)="clearNewStyle()">Cancel</button></p>
</mat-card>