div {
    height: 97%;
    width: 100%;
}

.drawer-container {
    overflow: auto;
    height: 97%;
    width: 100%;
}

.drawer {
    width: 40%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.slider {
    position: fixed;
    bottom: 0;
    left: 0;
}