<mat-drawer-container class="drawer-container">
    <mat-drawer #drawer class="drawer" mode="push" (closedStart)="onClose()">
        <app-style-create-container *ngIf="isStyleCreatePanel()"></app-style-create-container>
        <app-style-assign *ngIf="isStyleAssignPanel()"></app-style-assign>
        <app-text-edit-container *ngIf="isTextEditPanel()"></app-text-edit-container>
    </mat-drawer>
    <div>
        <app-zoom-slider class="slider"></app-zoom-slider>
        <app-editor-window></app-editor-window>
    </div>
</mat-drawer-container>