<mat-toolbar class="top-bar" color="primary">
  <a href="/" class="button " mat-button>Home</a>
  <app-menu-file></app-menu-file>
  <app-menu-edit></app-menu-edit>
  <span class="flexExpand"></span>
  <button mat-button (click)="showAbout()">About author</button>
</mat-toolbar>
<router-outlet></router-outlet>