<div *ngFor="let textElement of textElements">
    <app-text-edit [textElement]="textElement"></app-text-edit>
</div>

<p><button mat-raised-button color="primary" (click)="onAddText()">Add new text</button></p>