<mat-card>
    <mat-card-content>
        <form [formGroup]="styleForm" (ngSubmit)="onSubmit()">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div>{{styleForm.get('name').value}}</div>
                    </mat-expansion-panel-header>
                    <mat-form-field>
                        <label>Style name</label>
                        <input matInput formControlName="name" [readonly]="!unsavedStyle">
                        <mat-error *ngIf="styleForm.get('name').errors?.forbiddenName">Name already taken
                        </mat-error>
                        <mat-error *ngIf="styleForm.get('name').errors?.whitespacedName">Name contains whitespaces
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <label>Fill color</label>
                        <input type="color" matInput formControlName="fillColor">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <label>Border style</label>
                        <mat-select formControlName="border">
                            <mat-option *ngFor="let borderStyle of borderStyles" [value]="borderStyle">{{borderStyle}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <label>Border width</label>
                        <input type="number" matInput formControlName="borderWidth">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <label>Border color</label>
                        <input type="color" matInput formControlName="borderColor">
                    </mat-form-field>
                    <p><button *ngIf="unsavedStyle" mat-raised-button color="primary" (click)="save()">Save</button></p>
                    <p><button *ngIf="!unsavedStyle" mat-raised-button color="primary" (click)="deleteStyle()">Delete style</button></p>
                </mat-expansion-panel>
            </mat-accordion>
        </form>
    </mat-card-content>
</mat-card>