<h2 mat-dialog-title>About</h2>
<mat-dialog-content>
    <h3>Ten projekt jest wynikiem realizacji projektu inżynierskiego na Politechnice Wrocławskiej, na wydziale
        Informatyki,
        specjalność Inżynieria Systemów Informatycznych.</h3>
    <br>
    <br>

    Adrian Błasiak
    <br>
    <a href="https://gitlab.com/Blashaq/svgmaps">https://gitlab.com/Blashaq/svgmaps</a>
</mat-dialog-content>