<h1 mat-dialog-title>Are you sure?</h1>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">No Thanks</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</div>