<mat-card>
    <mat-card-content>
        <label>Border style</label>
        <mat-select [formControl]="selectedElementStyleName">
            <mat-option *ngFor="let styleName of styleNames" [value]="styleName">{{styleName}}
            </mat-option>
        </mat-select>
    </mat-card-content>
</mat-card>