/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.svgContainer svg .app-mapPath {
    fill: gray;
    stroke-dasharray:none;
    stroke:white;
    stroke-width:0.5;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    stroke: darkslateblue;
}

.svgContainer svg .app-mapPath:hover {
    fill: darkgray;
}

.svgContainer svg .app-selected {
    fill: darkslategray;
}

.svgContainer svg .app-selected:hover {
    fill: rgb(64, 100, 100);
}

.line {
    stroke: white;
    fill: none;
}

.highlight {
    stroke: white;
    stroke-width: 2px;
    fill: none;
}