<button mat-button [matMenuTriggerFor]="fileMenu" [disabled]="!isFileLoaded()">Edit</button>
<mat-menu #fileMenu="matMenu">
    <button mat-menu-item (click)="chooseSelect()">
        Select path
    </button>
    <button mat-menu-item (click)="choosePan()">
        Pan
    </button>
    <button mat-menu-item [disabled]="!canEditPath()" (click)="chooseSplit()">
        Split selected path
    </button>
    <button mat-menu-item (click)="chooseAddText()">
        Add/edit text
    </button>
    <button mat-menu-item (click)="chooseCreateStyle()">
        Edit styles
    </button>
    <button mat-menu-item [disabled]="!canEditPath()" (click)="chooseAssignStyle()">
        Assign style to path
    </button>
    <button *ngIf="isPreviewMode()" mat-menu-item (click)="editStyle()">
        Switch style to edit mode
    </button>
    <button *ngIf="!isPreviewMode()" mat-menu-item (click)="previewStyle()">
        Switch style to preview mode
    </button>
</mat-menu>